@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: white;
    color: black;
}
.bg1 {
    background-image: url("./assets/hero.jpg");
}
.bg2 {
    background-image: url("https://picsum.photos/1080.webp");
}

.se1 {
    background-image: url("./assets/sec2.jpg");
}